[submodule "WorldEdit"]
	path = WorldEdit
	url = https://github.com/Uberi/Minetest-WorldEdit.git
[submodule "areas"]
	path = areas
	url = https://github.com/minetest-mods/areas.git
[submodule "framedglass"]
	path = framedglass
	url = https://github.com/minetest-mods/framedglass.git
[submodule "hidden_doors"]
	path = hidden_doors
	url = https://github.com/pandorabox-io/hidden_doors.git
[submodule "letters"]
	path = letters
	url = https://github.com/minetest-mods/letters.git
[submodule "maptools"]
	path = maptools
	url = https://github.com/minetest-mods/maptools.git
[submodule "monitoring"]
	path = monitoring
	url = https://github.com/thomasrudin-mt/monitoring.git
[submodule "moreblocks"]
	path = moreblocks
	url = https://github.com/minetest-mods/moreblocks.git
[submodule "morelights"]
	path = morelights
	url = https://github.com/random-geek/morelights.git
[submodule "moreores"]
	path = moreores
	url = https://github.com/minetest-mods/moreores.git
[submodule "scifi_nodes"]
	path = scifi_nodes
	url = https://github.com/D00Med/scifi_nodes.git
[submodule "shell"]
	path = shell
	url = https://github.com/thomasrudin-mt/shell.git
[submodule "unified_inventory"]
	path = unified_inventory
	url = https://github.com/minetest-mods/unified_inventory.git
[submodule "unifiedbricks"]
	path = unifiedbricks
	url = https://github.com/minetest-mods/unifiedbricks.git
[submodule "travelnet"]
	path = travelnet
	url = https://github.com/Sokomine/travelnet.git
[submodule "stained_glass"]
	path = stained_glass
	url = https://github.com/minetest-mods/stained_glass.git
[submodule "soundblock"]
	path = soundblock
	url = https://github.com/thomasrudin-mt/soundblock.git
[submodule "soundblock_scifi"]
	path = soundblock_scifi
	url = https://github.com/thomasrudin-mt/soundblock_scifi.git
[submodule "xban2"]
	path = xban2
	url = https://github.com/minetest-mods/xban2.git
[submodule "unifieddyes"]
	path = unifieddyes
	url = https://gitlab.com/VanessaE/unifieddyes.git
[submodule "invsaw"]
	path = invsaw
	url = https://git.rudin.io/mirror/invsaw.git
[submodule "exschem"]
	path = exschem
	url = https://github.com/TalkLounge/exschem.git
[submodule "bakedclay"]
	path = bakedclay
	url = https://notabug.org/TenPlus1/bakedclay.git
[submodule "farming"]
	path = farming
	url = https://notabug.org/TenPlus1/farming.git
[submodule "wine"]
	path = wine
	url = https://notabug.org/TenPlus1/wine.git
[submodule "item_drop"]
	path = item_drop
	url = https://github.com/minetest-mods/item_drop.git
[submodule "cool_trees"]
	path = cool_trees
	url = https://github.com/runsy/cool_trees.git
[submodule "bonemeal"]
	path = bonemeal
	url = https://notabug.org/TenPlus1/bonemeal.git
[submodule "mobs_redo"]
	path = mobs_redo
	url = https://notabug.org/TenPlus1/mobs_redo.git
[submodule "mobs_npc"]
	path = mobs_npc
	url = https://notabug.org/TenPlus1/mobs_npc.git
[submodule "mobs_monster"]
	path = mobs_monster
	url = https://notabug.org/TenPlus1/mobs_monster.git
[submodule "mob_horse"]
	path = mob_horse
	url = https://notabug.org/TenPlus1/mob_horse.git
[submodule "mobs_water"]
	path = mobs_water
	url = https://notabug.org/TenPlus1/mobs_water.git
[submodule "mobs_sky"]
	path = mobs_sky
	url = https://notabug.org/TenPlus1/mobs_sky.git
[submodule "epic"]
	path = epic
	url = https://github.com/damocles-minetest/epic.git
[submodule "mesecons"]
	path = mesecons
	url = https://github.com/minetest-mods/mesecons.git
[submodule "player_monoids"]
	path = player_monoids
	url = https://github.com/damocles-minetest/player_monoids.git
[submodule "dmobs"]
	path = dmobs
	url = https://github.com/D00Med/dmobs.git
[submodule "jumping"]
	path = jumping
	url = https://github.com/minetest-mods/jumping.git
[submodule "prefab"]
	path = prefab
	url = https://github.com/minetest-mods/prefab.git
[submodule "castle_tapestries"]
	path = castle_tapestries
	url = https://github.com/minetest-mods/castle_tapestries.git
[submodule "basic_signs"]
	path = basic_signs
	url = https://gitlab.com/VanessaE/basic_signs.git
[submodule "signs_lib"]
	path = signs_lib
	url = https://gitlab.com/VanessaE/signs_lib.git
[submodule "basic_materials"]
	path = basic_materials
	url = https://gitlab.com/VanessaE/basic_materials.git
[submodule "coloredwood"]
	path = coloredwood
	url = https://gitlab.com/VanessaE/coloredwood.git
[submodule "street_signs"]
	path = street_signs
	url = https://gitlab.com/VanessaE/street_signs.git
[submodule "display_modpack"]
	path = display_modpack
	url = https://github.com/pyrollo/display_modpack.git
[submodule "font_botic"]
	path = font_botic
	url = https://github.com/pyrollo/font_botic.git
[submodule "font_oldwizard"]
	path = font_oldwizard
	url = https://github.com/pyrollo/font_oldwizard.git
[submodule "factory_bridges"]
	path = factory_bridges
	url = https://github.com/narrnika/factory_bridges.git
[submodule "damocles_custom"]
	path = damocles_custom
	url = https://github.com/damocles-minetest/damocles_custom.git
[submodule "mesecons_stealthnode"]
	path = mesecons_stealthnode
	url = https://github.com/acmgit/mesecons_stealthnode.git
[submodule "mapserver_mod"]
	path = mapserver_mod
	url = https://github.com/minetest-tools/mapserver_mod.git
[submodule "fancy_vend"]
	path = fancy_vend
	url = https://github.com/pandorabox-io/fancy_vend
[submodule "3d_armor"]
	path = 3d_armor
	url = https://github.com/stujones11/minetest-3d_armor
[submodule "armor_monoid"]
	path = armor_monoid
	url = https://github.com/minetest-mods/armor_monoid
[submodule "lavastuff"]
	path = lavastuff
	url = https://github.com/LoneWolfHT/lavastuff
[submodule "more_chests"]
	path = more_chests
	url = https://github.com/minetest-mods/more_chests
[submodule "pvp_areas"]
	path = pvp_areas
	url = https://github.com/everamzah/pvp_areas
[submodule "currency"]
	path = currency
	url = https://gitlab.com/VanessaE/currency.git
[submodule "telemosaic"]
	path = telemosaic
	url = https://github.com/pandorabox-io/telemosaic.git
[submodule "replacer"]
	path = replacer
	url = https://github.com/coil0/replacer.git
[submodule "mesecons_protected_button"]
	path = mesecons_protected_button
	url = https://github.com/pandorabox-io/mesecons_protected_button.git
[submodule "mesecons_protected_switch"]
	path = mesecons_protected_switch
	url = https://github.com/pandorabox-io/mesecons_protected_switch.git
[submodule "protector"]
	path = protector
	url = https://notabug.org/tenplus1/protector.git
[submodule "hangglider"]
	path = hangglider
	url = https://notabug.org/Piezo_/minetest-hangglider.git
[submodule "geocache"]
	path = geocache
	url = https://github.com/pandorabox-io/geocache.git
[submodule "elevator"]
	path = elevator
	url = https://github.com/shacknetisp/elevator.git
[submodule "digilines"]
	path = digilines
	url = https://github.com/minetest-mods/digilines.git
[submodule "digistuff"]
	path = digistuff
	url = https://git.rudin.io/mirror/digistuff.git
[submodule "digiterms"]
	path = digiterms
	url = https://github.com/pyrollo/digiterms.git
[submodule "led_marquee"]
	path = led_marquee
	url = https://gitlab.com/VanessaE/led_marquee.git
[submodule "throwing"]
	path = throwing
	url = https://github.com/minetest-mods/throwing.git
[submodule "throwing_arrows"]
	path = throwing_arrows
	url = https://github.com/minetest-mods/throwing_arrows.git
[submodule "pkarcs"]
	path = pkarcs
	url = https://github.com/TumeniNodes/pkarcs.git
[submodule "auth_proxy_mod"]
	path = auth_proxy_mod
	url = https://github.com/thomasrudin-mt/auth_proxy_mod
[submodule "epic_skybox"]
	path = epic_skybox
	url = https://github.com/damocles-minetest/epic_skybox.git
[submodule "slats"]
	path = slats
	url = https://github.com/v-rob/slats
[submodule "minetest_hudbars"]
	path = minetest_hudbars
	url = https://repo.or.cz/minetest_hudbars.git
[submodule "minetest_hbarmor"]
	path = minetest_hbarmor
	url = https://repo.or.cz/minetest_hbarmor.git
[submodule "ccompass"]
	path = ccompass
	url = https://github.com/minetest-mods/ccompass.git
[submodule "xp_redo"]
	path = xp_redo
	url = https://github.com/thomasrudin-mt/xp_redo.git
[submodule "epic_weather"]
	path = epic_weather
	url = https://github.com/damocles-minetest/epic_weather.git
[submodule "food_effects"]
	path = food_effects
	url = https://github.com/damocles-minetest/food_effects.git
[submodule "firearms"]
	path = firearms
	url = https://github.com/damocles-minetest/mt-firearms
[submodule "xspikes"]
	path = xspikes
	url = https://github.com/damocles-minetest/xspikes
[submodule "mobs_animal"]
	path = mobs_animal
	url = https://notabug.org/TenPlus1/mobs_animal.git
[submodule "guns"]
	path = guns
	url = https://github.com/damocles-minetest/guns
[submodule "xp_redo_ranks_tools"]
	path = xp_redo_ranks_tools
	url = https://github.com/damocles-minetest/xp_redo_ranks_tools.git
[submodule "beerchat"]
	path = beerchat
	url = https://github.com/pandorabox-io/beerchat.git
[submodule "beerchat_web"]
	path = beerchat_web
	url = https://github.com/pandorabox-io/beerchat_web.git
[submodule "mail_mod"]
	path = mail_mod
	url = https://github.com/thomasrudin-mt/mail_mod
[submodule "soundblock_damocles"]
	path = soundblock_damocles
	url = https://github.com/damocles-minetest/soundblock_damocles.git
[submodule "server_news"]
	path = server_news
	url = https://github.com/Ezhh/server_news
